
    .app-content{
      background: #FFFFFF;
    }
    .form-group{
      label{
        font-weight: 600;
        color: #656968;
      }
    }
    .headerTtile{
      background: #3f9688;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      padding: 13px;
      font-weight: 500;
      color: #ffffff;
      font-size: 18px;
    }

    .app-header {
      background-color: #444f58;
    }
    .app-header__logo{
      background: none;
    }